/*Robot Mono*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*Cinzel*/ 
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
}


:root {
    --base-color: #ffffff;
    --text-color: #d7ffd7;
    --primary-color: 
    --secondary-color:
    --color-1: #d7ffd7;    flex: 1 0 120px; /* Forces all links to be at least 120px wide */
    text-align: center;
    --color-2:
    --color-3:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: Roboto-mono, monospace;
    color: var(--text-color);
}

body {
    margin: 0;
    padding: lem;
    background-color: #000000;
}

h1, h2, h3 {
    font-family:  Roboto-mon, monospace;
}

nav {
    /*margin: lem auto 3em auto;*/
    display: flex;
    margin: 0 auto;
    justify-content: center;

    padding-inline: 2em;
    padding-top: 2em; 


}

nav ul {
    display: flex;
    align-items: center;
    padding: 0;
    list-style-type: none;
    gap: 2em;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-gutter: stable;
}

nav li:first-child {
    margin-right: auto;
    font-family:Roboto-mono, monospace
}

nav a {
    text-decoration: none; 
    color: var(--text-color);
}

nav a:hover {
    text-decoration: underline;
}


header, section {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    margin-top: 50px;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;
}

.text-container2{
    flex: 0 1 45em;
}

.text-container2 p{
    margin: .5em 0 1 em 0;
    font-size: 1.2rem
}

.text-container {
    flex: 0 1 34em;
    /* 0- don't want text container to grow
    1 means to shrink if needed
    34em is the preferred width*/
}

h1 {
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-2);
    text-align: left;
}

h2 {
    font-size: 2rem;
}

section p{
    margin-top: 1em;
    font-size: 1.25rem;
}

.grid-container{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, lfr);
    grid-template-rows: lfr lfr;
    grid-template-areas: 
    "img-1 img-1 img-2 img-2"
    "img-1 img-1 img-3 img-3"
    "img-1 img-1 img-3 img-3"
}

.grid-container img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container2{
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, lfr);
    grid-template-rows: lfr lfr;
    grid-template-areas: 
    "img-1 img-2 img-3 img-4"
}

.grid-container2 img{
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease;
}

.grid-container2 img:hover{
    scale: 1.3;
    outline-color: #d7ffd7;
    outline-width: 10px;
    outline-style: solid;
    
}

.grid-container img:hover{
scale: 1.05;
}

details {
    margin-top: 1em;
    border-radius: 1em;
}

details summary{
    padding: 1em;
    font-size: 1.7em;
}

details p{
    padding: 0 2em 2em;
}

footer {
    padding-bottom: 1.5em;
    text-align: center;
}

footer a{
    margin: 0 lem;
    text-decoration: none;
    color: var(--text-color);
}

footer a:hover{
    text-decoration: underline;
}

@media(max-width: 988px){
    header{
        text-align: center
    }

    header .text-container {
        padding-top: 0;
    }
}

@media(max-wdith: 640px){
    nav li{
        display: none;
    }

    nav li:first-child,
    nav li:last-child {
        display: block;
    }

    header{
        margin-top: 0;
    }

    .cta-button{
        margin-top: .5em;
        width: 100%;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size: 1.5rem;
    }

}
